In [1]:
import pandas as pd
import requests

In [2]:
url = "https://s3.amazonaws.com/quandl-production-static/BSE+Descriptions/stocks.txt"
response = requests.get(url)

In [3]:
with open("bse_stocks.txt", "wb") as f:
    f.write(response.content)

In [4]:
df = pd.read_csv('bse_stocks.txt', sep='|')

In [5]:
df.head()

                                        STOCK       CODE
0                  20 Microns Ltd. EOD Prices  BOM533022
1                 3i Infotech Ltd. EOD Prices  BOM532628
2                    3m India Ltd. EOD Prices  BOM523395
3         7seas Technologies Ltd-$ EOD Prices  BOM590116
4  8k Miles Software Services Ltd. EOD Prices  BOM512161

In [6]:
df["STOCK"] = df['STOCK'].apply(lambda x: x.replace(" EOD Prices", ""))

In [7]:
df.head()

                             STOCK       CODE
0                  20 Microns Ltd.  BOM533022
1                 3i Infotech Ltd.  BOM532628
2                    3m India Ltd.  BOM523395
3         7seas Technologies Ltd-$  BOM590116
4  8k Miles Software Services Ltd.  BOM512161

In [8]:
df.to_csv("bse_stocks.csv", index=False)